<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>StayUp Hotels</title>
</head>
<style>
    .div label {
        float: left;
        width: 25%;
        text-align: right;
        margin-right: 5px;
    }
    
    .div input {
        float: left;
        width: 65%;
    }
    
    .btn {
        display: inline-block;
        padding: .75rem 1.25rem;
        border-radius: 10rem;
        color: #fff;
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: .15rem;
        transition: all .3s;
        position: relative;
        overflow: hidden;
        z-index: 1;
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgb(229, 189, 98)0, 0;
            border-radius: 10rem;
            z-index: -2;
        }
        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 100%;
            background-color: darken(rgb(229, 189, 98), 15%);
            transition: all .3s;
            border-radius: 10rem;
            z-index: -1;
        }
        &:hover {
            color: #000000;
             ::before {
                width: 100%;
            }
        }
    }
</style>
<script>
    function transform(element) {
        element.style = 'transform: scale(1.1); transition: transform 0.3s ease;';
    }

    function resetTransform(element) {
        element.style.cssText = 'transform: scale(1); transition: transform 0.3s ease;';
    }

    function logout() {
        fetch('/logout', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    logout: true
                })
            })
            .then(response => {
                if (response.ok) {
                    window.location.href = '/';
                } else {
                    console.error('Failed to logout');
                }
            })
            .catch(error => {
                console.error('Error during logout:', error);
            });
    }
</script>

<body>
    <header id="fixedHeader">
        <nav id="navbar">
            <div class="container">
                <a href="/home"><img src="img/logo.png" alt="StayUpLogo" style="width:70px;height:70px;"></a>
                <ul>
                    <li><a class="current" href="/home">Home</a></li>
                    <li><a href="/rooms">Rooms</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                </ul>
            </div>
        </nav>
        <div id="showcase">
            <div class="container">
                <div class="showcase-content">
                    <h1><span class="text-primary">Enjoy</span> your stay</h1>
                    <p class="lead">Welcome to our hotel booking website, where luxury meets affordability. Our user-friendly platform allows you to browse and book a wide selection of rooms, from cozy studios to spacious suites. With exceptional customer service and
                        top-notch amenities, your stay with us is guaranteed to be a memorable one.</p>
                    <a class="btn" href="/rooms" onmouseenter="transform(this)" onmouseleave="resetTransform(this)">Explore the Rooms</a>
                    <p>OR</p>
                    <a class="btn" href="/" onclick="logout()" onmouseenter="transform(this)" onmouseleave="resetTransform(this)">Log Out</a>
                </div>
            </div>
        </div>
        <p style="color:white;text-align:center;">&copy; All rights reserved to Akshat and Team</p>

    </header>
</body>

</html>