<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Register</title>
    <style>
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        
        .form-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 400px;
            padding: 40px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
            border: 1px solid black;
        }
        
        form {
            width: 100%;
            margin-bottom: 20px;
        }
        
        h2 {
            margin-top: 0;
            margin-bottom: 20px;
        }
        
        .form-group {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            width: 100%;
        }
        
        label {
            font-weight: bold;
            margin-bottom: 5px;
        }
        
        input[type="text"],
        input[type="email"],
        input[type="password"],
        input[type="tel"] {
            width: 100%;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }
        
        button[type="submit"] {
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
        }
        
        button[type="submit"]:hover {
            background-color: #0069d9;
        }
    </style>
</head>

<body>

    <div id="Register">
        <div class="container">
            <div class="form-container">
                <form class="registration-form" id="registrationForm" action="/registration" method="post">
                    <h2 align="center">REGISTRATION</h2>
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name" placeholder="name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" placeholder="email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" placeholder="password" required>
                    </div>
                    <div class="form-group">
                        <label for="confirm_password">Confirm Password:</label>
                        <input type="password" id="confirm_password" name="confirm_password" placeholder="confirm password" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone:</label>
                        <input type="tel" id="phone" name="phone" pattern="[0-9]{10}" placeholder="9874563210" required>
                        <small>Enter a 10-digit phone number</small>
                    </div>
                    <div class="form-group">
                        <button type="submit">Register</button>
                    </div>
                    <span><i><b> Already have an account? </b></i></span>
                    <a href="/login">  Log in</a>

                </form>

            </div>
        </div>
    </div>
    <p align="center">&copy; All rights reserved to Akshat and Team</p>
    <script>
        const registrationForm = document.getElementById("registrationForm");
        registrationForm.addEventListener("submit", function(event) {
            event.preventDefault();

            const email = document.getElementById("email").value;
            const password = document.getElementById("password").value;
            const phoneNumber = document.getElementById("phone").value;

            if (!email || !password) {
                alert("Email and/or Password cannot be left Empty");
                return;
            }
            if (phoneNumber.length !== 10) {
                alert("Phone number must be exactly 10 digits long");
                return;
            }

            const formData = new FormData(registrationForm);
            const formObject = {};
            formData.forEach(function(value, key) {
                formObject[key] = value;
            });
            console.log(formObject);

            fetch("/registration", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(formObject)
                })
                .then(response => {
                    if (response.ok) {
                        localStorage.setItem("registeredEmail", email);
                        localStorage.setItem("registeredPassword", password);
                        alert("Registration Successful")
                        registrationForm.reset();
                        window.location.replace("/login");
                    } else {
                        return response.text().then(errorMessage => {
                            alert(errorMessage);
                        });
                    }

                })
                .catch(error => {
                    console.error("Error:", error);
                    return;
                });
        });
    </script>
</body>

</html>

</html>